.b-message-form {
	&__inputElement {
		width: 100%;
		color: $brand-text;
		border: 0;
		border-bottom: 1px solid $brand-text;
		line-height: 2em;
		outline: none;
		letter-spacing: 0.05em;
		margin: $basic-padding 0;

		&:focus {
			outline: none;
			border-bottom: 2px solid $brand-active;
		}
	}

	&__checkboxOption {
		display: none;
	}

	&__optionLabel {
		color: $brand-text;
		font-weight: normal;
		display: block;
		&--checkbox {

		}
	}

	&__checkboxOption + &__optionLabel--checkbox {
		&:before {
			font-family: 'FontAwesome';
			content: "\f096";
			margin-right: 4px;
			font-size: 18px;
		}

	}

	&__checkboxOption:checked + &__optionLabel--checkbox {
		&:before {
			font-family: 'FontAwesome';
			content: "\f14a";
			margin-right: 4px;
			color: $brand-primary;
			font-size: 18px;
		}
	}

	&__button {
		@include shadow-border();
		background: transparent;
		border: none;
		color: $brand-primary;
		text-transform: uppercase;
		padding: $basic-padding/2 $basic-padding*2;
		font-size: 11px;
		float: right;
		&--submit {
			background: $brand-primary;
			color: white;
		}

		&:hover {
			transform: scale(1.05);
		}
	}
}